* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(139, 130, 130);
    font-family: 'Monotype Corsiva';
    color: rgba(182, 156, 12, 0.836);
}

h1 { 
    margin: 10px;
    text-align: center;
    font-size: 30px;
}
header{
    background-color: #000000;
    padding: 8px;
    text-align: center;
    text-decoration: none;
}

.navegacion {
    text-align: right;
    font-size: 22px;
    padding: 10px;
    
}

a {
    color: azure;
    padding: 8px;
    text-decoration: none;
}

.cajas1 {
    background-color: #000000;
    height: 200%;
}
.slider {
  position: relative;
  width: 500%;
  max-width: 100%;
  height: 40%;
  margin: 5px auto;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 90px rgba(0,0,0,120);
}

.slides {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 1s ease-in-out;
}

.slide {
  min-width: 100%;
  height: 100%;
}
video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* <-- Rellena y recorta, pero se ve elegante */
  object-position: center; /* <-- Enfoca la parte de abajo del chef es decir mas abajo de la imagen */
}
.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* <-- Rellena y recorta, pero se ve elegante */
  object-position:center; /* <-- Enfoca la parte de abajo del chef es decir mas abajo de la imagen */
}


footer {
    margin-top: auto;
    background-color: #121312;
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 16px;
}
