* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(0, 0, 0);
    font-family: 'Monotype Corsiva';
    color: rgba(233, 237, 6, 0.836);
}

h1 { 
    margin: 10px;
    text-align: center;
    font-size: 35px;
}
header{
    background-color: #000000;
    padding: 8px;
    text-align: center;
    text-decoration: none;
}

.navegacion {
    text-align: right;
    font-size: 22px;
    padding: 5px;

}

.navegacion a {
   border-left: 4px #757472ae outset;
   border-width: 1px;
   padding: 0.1px 10px;
   
}
a {
    color: azure;
    padding: 8px;
    text-decoration: none;
}

.cajas1 {
   background-color: #530f92;
    height: 1000px;
   
}
.slider {
  background-color: rgb(0, 0, 0);
  position: relative;
  width: 500%;
  max-width: 100%;
  height: 40%;
  margin: 5px auto;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 90px rgba(0,0,0,120);
}

.slides {
  background-color: aqua;
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 1s ease-in-out;
}

.slide {
  background-color: orangered;
  min-width: 100%;
  height: 100%;
}
video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* <-- Rellena y recorta, pero se ve elegante */
  object-position: center; /* <-- Enfoca la parte de abajo del chef es decir mas abajo de la imagen */
}
.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* <-- Rellena y recorta, pero se ve elegante */
  object-position:center; /* <-- Enfoca la parte de abajo del chef es decir mas abajo de la imagen */
}
 h2 {
  color: rgb(223, 222, 183);
  align-items: center;
  text-align: center;
  font-size: 40px;
  margin: 50px;

 }
p {
  color: #d6c20dd8;
  text-align: center;
  font-size: 30px;
}

footer {
    margin-top: auto;
    background-color: #121312;
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 16px;
}
