/* <--

#seccionMenu {
  background: white;
  color: rgb(34, 174, 160);
  padding: 30px;
  max-width: 600px;
  margin: 30px auto;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

.oculto {
  display: none;
}  */

/* no se esta usando*/
.cajas2 {
   background-color: #2d68dc;
    height: 300%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.contenido1 {
  
  background-color: rgb(65, 27, 109);
  align-items: center;
  text-align: center;
  height: 60%;
  width: 100%;
  color:  red;
}


.sin-slider .slider,
.sin-slider .slide, footer  {
  display: none !important;
}
.nav1{
background-color: rgba(0, 0, 0);
width: 38%;
padding: 10px;

}

.nav1 a {
 
   border-right: 4px #cdcbc8e7 outset;
   border-width: 1px;
   padding: 0.1px 12px;

}

.grid {

  display: grid;
    align-items: center;
    grid-template-columns: repeat(5 ,1fr);
    /* Dos columnas iguales*/
   /* grid-template-rows: (4 ,1);  dos filas iguales */
    gap: 1px; /* espacio entre las celdas*/
   margin: 5px;
   padding-bottom: 100px;

}

.grid .conteimage{
    align-items: center;
 /* Dos columnas iguales*/
   /* grid-template-rows: (6 ,1);  dos filas iguales */
   /* espacio entre las celdas*/
 width: 180px;
   height: 200px;
     object-fit: cover; /* <-- Rellena y recorta, pero se ve elegante */
  object-position:center; 
}
.conteimage {
    background-color:rgba(145, 155, 7, 0.597);
    border: 4px #efb810 outset;
    
   /*  display: grid;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    border-radius: 10px;
    gap: 10px;
    margin: 20px;
       width: 200px;
       display: block;
 */
}
a {
  font-size: 25px;
  
}

h2 {
  text-align: center;
  font-size: 60px;
 margin: 10px;
}
.division {
  background-color: rgba(225, 91, 1, 0.309);
padding: 1px;
align-items: center;
margin: 5px;
}
